<div class="container">
  <div class="d-flex justify-content-between align-items-center">
    <h1>My Tasks</h1>
  </div>
    <% @tasks.each do |task| %>
        <p><%= link_to task.title, task_path(task) %></p>
    <% end %>
    <%= link_to '➕ Add a new task', new_task_path, class: 'btn btn-primary' %>
</div>
